.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: var(--token-tfRPXDb52YxtEm);
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: auto;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__artWk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__artWk {
    display: flex;
  }
}
.freeBox__wreao {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: url("/plasmic/wardanan/images/bgMinpng.png") top 50% left 50% / cover repeat,
    #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wreao {
    height: 100vh;
    flex-shrink: 0;
  }
}
.img__qjS2W {
  position: absolute;
  object-fit: cover;
  max-width: 80%;
  left: 0px;
  top: 0px;
}
.img__qjS2W > picture > img {
  object-fit: cover;
}
.img__qjS2W > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__iGmzv {
  position: absolute;
  object-fit: cover;
  max-width: 80%;
  left: auto;
  top: auto;
  bottom: 0px;
  right: 0px;
}
.img__iGmzv > picture > img {
  object-fit: cover;
}
.img__iGmzv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__qc5Zk {
  flex-direction: column;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__qc5Zk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__qc5Zk > :global(.__wab_flex-container) > *,
.freeBox__qc5Zk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qc5Zk > :global(.__wab_flex-container) > picture > img,
.freeBox__qc5Zk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qc5Zk {
    height: 100%;
    padding-top: 8px;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qc5Zk > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    min-height: 0;
  }
}
.h6__mTaij {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  left: auto;
  top: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  min-width: 0;
}
.h1___6Iums {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  letter-spacing: 0.26rem;
  transform: none;
  filter: none;
  font-family: "Great Vibes";
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1___6Iums {
    font-size: 36px;
  }
}
.h1__irZyA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Great Vibes";
  min-width: 0;
}
.h1___8Ento {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  letter-spacing: 0.27rem;
  font-family: "Great Vibes";
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1___8Ento {
    font-size: 36px;
  }
}
.h6__gbJ56 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-bottom: 0px;
  left: auto;
  top: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  margin-top: calc(42px + 24px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__gbJ56 {
    left: auto;
    top: auto;
    margin-top: calc(42px + 24px) !important;
  }
}
.freeBox__mHqeJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__yO0Vi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__uf4Cn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-weight: 600;
  min-width: 0;
}
.text__jeOlK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  min-width: 0;
}
.freeBox___80NL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  max-width: 100%;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  margin-left: 24px;
  margin-right: 24px;
  flex-shrink: 0;
  padding: 8px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__tjmwV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ftQYd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  min-width: 0;
}
.text___8ElVm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___1QL8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___1QL8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___1QL8 > :global(.__wab_flex-container) > *,
.freeBox___1QL8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1QL8 > :global(.__wab_flex-container) > picture > img,
.freeBox___1QL8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h6__kOwa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__zuVqy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 466px;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
.sectionNote {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.sectionNote > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.sectionNote > :global(.__wab_flex-container) > *,
.sectionNote > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionNote > :global(.__wab_flex-container) > picture > img,
.sectionNote
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.noteWrapper {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 400px;
  background: #ffffff73;
  border-radius: 12px;
  padding: 8px;
  border-width: 1px;
  border-style: dashed;
}
.noteWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.noteWrapper > :global(.__wab_flex-container) > *,
.noteWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.noteWrapper > :global(.__wab_flex-container) > picture > img,
.noteWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.piggybank {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  max-width: 500px;
  padding: 8px;
}
.piggybank > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.piggybank > :global(.__wab_flex-container) > *,
.piggybank > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.piggybank > :global(.__wab_flex-container) > picture > img,
.piggybank
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__c50Lw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 32px;
  flex-shrink: 0;
}
.text__yKbWc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 10px;
  min-width: 0;
}
.dresscode {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  max-width: 500px;
  padding: 8px;
}
.dresscode > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.dresscode > :global(.__wab_flex-container) > *,
.dresscode > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dresscode > :global(.__wab_flex-container) > picture > img,
.dresscode
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__lhvd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__v0Vpu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 10px;
  min-width: 0;
}
.column__cmbBs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__eE6S {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: url("/plasmic/wardanan/images/bgMinpng.png") top 50% left 50% / cover repeat,
    #ffffff;
  align-self: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eE6S {
    height: 100vh;
    flex-shrink: 0;
  }
}
.img__dw4FC {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 35%;
  bottom: auto;
  width: 70%;
}
.img__dw4FC > picture > img {
  object-fit: cover;
}
.img__dw4FC > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__fdRij {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 35%;
  width: 70%;
  right: 0px;
}
.img__fdRij > picture > img {
  object-fit: cover;
}
.img__fdRij > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__o8RcH {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-tfRPXDb52YxtEm);
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o8RcH {
    padding-left: 0px;
  }
}
.freeBox__sO3DL {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  background: #ffffff;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
  border-radius: 24px;
  padding: 24px;
}
.freeBox__sO3DL > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__sO3DL > :global(.__wab_flex-container) > *,
.freeBox__sO3DL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sO3DL > :global(.__wab_flex-container) > picture > img,
.freeBox__sO3DL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__klDV {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__klDV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__klDV > :global(.__wab_flex-container) > *,
.freeBox__klDV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__klDV > :global(.__wab_flex-container) > picture > img,
.freeBox__klDV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h5 {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  min-width: 0;
}
.text___4Hm65 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  min-width: 0;
}
.freeBox___6RD8N {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___6RD8N > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___6RD8N > :global(.__wab_flex-container) > *,
.freeBox___6RD8N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6RD8N > :global(.__wab_flex-container) > picture > img,
.freeBox___6RD8N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__qLhhx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg___2P9A4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xBdU0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__glAfQ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__glAfQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__glAfQ > :global(.__wab_flex-container) > *,
.freeBox__glAfQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__glAfQ > :global(.__wab_flex-container) > picture > img,
.freeBox__glAfQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__hkQqo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  min-width: 0;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__q2E79 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__q2E79 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__q2E79 > :global(.__wab_flex-container) > *,
.freeBox__q2E79 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q2E79 > :global(.__wab_flex-container) > picture > img,
.freeBox__q2E79
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__otjwN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  min-width: 0;
}
.freeBox__bxAd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bxAd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__bxAd > :global(.__wab_flex-container) > *,
.freeBox__bxAd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bxAd > :global(.__wab_flex-container) > picture > img,
.freeBox__bxAd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__bhd6I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  min-width: 0;
}
.select__xpOpz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__lbj2Y:global(.__wab_instance) {
  position: relative;
}
.option__sSjI7:global(.__wab_instance) {
  position: relative;
}
.freeBox__f1R5S {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__f1R5S > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__f1R5S > :global(.__wab_flex-container) > *,
.freeBox__f1R5S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f1R5S > :global(.__wab_flex-container) > picture > img,
.freeBox__f1R5S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__yGmRm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  min-width: 0;
}
.select__ihp9S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.option___0Vb7Q:global(.__wab_instance) {
  position: relative;
}
.option__rUdbg:global(.__wab_instance) {
  position: relative;
}
.option__hoOcY:global(.__wab_instance) {
  position: relative;
}
.option__lspO:global(.__wab_instance) {
  position: relative;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ssLy2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__iFlhf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
